<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Area</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <form action="/area/edit/<%=area.id_area%>" method="POST">
        <input type="text" name="name_area" value="<%= area.name_area %>" required></div>
        <div><button type="submit">Confirmar</button></div>
    </form>
</body>

</html>