<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>inicio</h1>
    <p>Bienvenidos a inicio</p>
    <p><a href="/lenguage">Listado de idiomas</a></p>
    <p><a href="/aspirant/">Listado de aspirantes</a></p>
    <p><a href="/area">Listado de areas</a></p>
  </body>
</html>
