<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>Registrar</h1>
    <br>
    <form action="/user/create" method="post">
        <div>
            <label for="">email</label>
            <input type="email" name="email" placeholder="Email">
            <label for="">contraseña</label>
            <input type="password" name="password" placeholder="contraseña">
            <label for="">rol</label>
            <input type="text" name="rol" placeholder="Ingrese su rol">
        </div>
        <button type="submit">Crear</button>
    </form>
</body>

</html>