<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>Detalles del usuario</h1>
    <br>
    <section> 
        <p> Email: <%=user.email%> </p>
        <p> Rol: <%=user.rol%> </p>
    </section>
    <br>
    <a class="botonAgregar" href="/user/edit/<%= user.user_id%>">Editar</a>
</body>

</html>