<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO de usuario</h1>
    <br>
    <p>
        <a class="botonAgregar" href="/user/create">crear usuario</a>
        <a class="botonAgregar" href="/user/login">tengo usuario</a>
        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>
    <ul>
        <% for( let i = 0; i < user.length; i++ ) { %>
        <li>
            <a href="/user/<%=user[i].user_id%>">
                <%= user[i].email %>
            </a>
        </li>
        <% } %>

    </ul> 
</body>

</html>